In [2]:
# pandas.DataFrame.info ______________________________________________ Persian description
# ? نصب پکیج ها:
# نصب کنیم تو ترمینال خواهیم داشت jupyter numpy pandas matplotlib چهار تا پکیچ pip اگر بخواهیم با:
# pip install jupyter numpy pandas matplotlib
# اگه آناکوندار رو نصب داشته باشیم:
# conda install jupyter numpy pandas matplotlib
# ? %matplotlib inline:
# کاری که این خط انجام میده این است که پلات ما مستقیما در ژوپیتر نوت بوک مون نشون داده میشه
# دارد به خاطر داشته باشیم که این دستور توسط خود پایتون پشتیبانی نمی شود .py اگر فایل ما پسوند
# ? .__version__ attribute:
# بعد از اسم پکیج ها اگه این اتریبیوت استفاده کنیم ورژن اون پیکج رو برمیگردونه
# ? pd.read_excel()
# در متغییر ها ذخیره میشود Pandas dataframes زمانی که یک فایل اکسل رو با کمک این تابع در یک متغییر قرار میدهیم، در واقع فایل های اکسل رو بصورت
#

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# print out the versions of our NumPy and Pandas packages
print("NumPy version:",np.__version__)
print("Pandas version:",pd.__version__)

NumPy version: 1.26.2
Pandas version: 2.1.4

In [4]:
# print out the contents of the folder
%ls

 Volume in drive D is Hard Disk
 Volume Serial Number is 0C1D-0743

 Directory of d:\MA.Malekzadeh\Github\Articul\Python-For-Undergrad-Engineers\Plotting-a-Stress-Strain-Curve-with-Python-and-Matplotlib

01/20/2024  11:15 PM    <DIR>          .
01/19/2024  08:27 PM    <DIR>          ..
01/19/2024  03:13 PM            36,864 aluminum6061.xls
01/19/2024  03:13 PM            38,912 steel1045.xls
01/21/2024  11:13 PM             8,106 stress_strain_curve_with_python.ipynb
               3 File(s)         83,882 bytes
               2 Dir(s)  724,256,399,360 bytes free

In [5]:
# The data from the two excel files will be stored in two Pandas dataframes
steel_df = pd.read_excel("./steel1045.xls")
al_df = pd.read_excel("./aluminum6061.xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [6]:
# view the first five rows of each dataframe
steel_df.head()

,TESTNUM,POINTNUM,TIME,POSIT,FORCE,EXT,CH5,CH6,CH7,CH8
0,762,1,5.969,0.01284,201.030792,0.001572,-0.007133,NaN,NaN,NaN
1,762,2,6.242,0.01392,215.235886,0.000009,-0.014581,NaN,NaN,NaN
2,762,3,6.936,0.01646,246.816742,-0.000832,0.006942,NaN,NaN,NaN
3,762,4,8.632,0.02340,371.870361,0.002203,0.000776,NaN,NaN,NaN
4,762,5,10.533,0.03110,502.501862,0.001481,0.018102,NaN,NaN,NaN

In [8]:
al_df.head()
# Force column: force in pounds (lb)
# EXT column: strain in percent
# CH5 column: strain in percent

,TESTNUM,POINTNUM,TIME,POSIT,FORCE,EXT,CH5,CH6,CH7,CH8
0,761,1,6.532,0.01524,201.158508,0.018893,-0.023081,NaN,NaN,NaN
1,761,2,6.702,0.01600,205.978119,0.000265,-0.013024,NaN,NaN,NaN
2,761,3,7.098,0.01720,219.295441,-0.000877,-0.024879,NaN,NaN,NaN
3,761,4,8.697,0.02350,268.505890,0.001453,-0.006798,NaN,NaN,NaN
4,761,5,10.196,0.03004,322.028168,0.001865,0.012563,NaN,NaN,NaN